<div class="tags-wrapper">
  <div class="content">
    <div class="tags">
      <h2>Top labels</h2>
      <% @issues.top_labels.each do |label| %>
        <%= link_to label, issues_path(label: label, language: params['language']), class: 'label-badge' %>
      <% end %>
      <h2>Top languages</h2>
      <% @issues.top_languages.each do |language| %>
        <%= link_to language, issues_path(language: language, label: params['label']), class: 'language-badge' %>
      <% end %>
      <%= link_to 'See all tags', tags_path, class: 'tags-link' %>
    </div>
  </div>
</div>

<div class="content issues">
  <h1><%= @issues.title %> <span class="meta">Updated <%= time_ago_in_words(@issues.updated_at) %> ago</span></h1>

  <%= will_paginate @issues, class: 'pagination top-pagination' %>
  <%= render @issues %>
  <%= will_paginate @issues, class: 'pagination bottom-pagination' %>
</div>
