<!DOCTYPE html>
<html>
  <head>
    <title>GoodFirstIssues</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="banner-wrapper content">
      <div class="banner">
        <pre>GoodFirstIssues | Ruby issues of GitHub labelled 'good first issue'</pre>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
